body {
    font-family: 'Poppins', 'Roboto', sans-serif;
}
p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #000;
}
nav {
    background-color: #F0FFF0;
    padding: 0px 0px;
    position: fixed;
    top: 0;
}
.burger__icon {
    border: none;
}
.burger__icon:focus, .default__btn:focus {
    outline: 0;
    box-shadow: none;
}
.logo {
    width: 200px;
}
.navbar ul li {
    padding: 0 15px;
}
.navbar ul li:last-child{
    padding-right: 30px;
}
.navbar ul li a {
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}
.navbar ul li a:hover {
    color: #21B573;
}
.navbar-nav .nav-link:focus {
    color: #21B573;
}
.bi-list::before {
    color: #413960;
    font-size: 1.7rem;
}
.default__btn{
    background-color: #21B573;
    border-radius: 33px;
    padding: .5rem 1.5rem;
    color: #fff;
}
.default__btn:hover {
    background-color: #00ac5e;
    color: #fff;
}
.fixed-top {
    z-index: 99999;
}

/* Sign in form */

.modal_top_mar {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.sign-btn {
    background-color: #21B573;
    color: #fff;
}
.sign-btn:hover {
    background-color: #00ac5e;
    color: #fff;
}
.form-signin {
    padding: 15px;
    margin: auto;
    margin-top: -2rem;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-floating:focus-within {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.custom__modal-header{
    border: none;
}
.accept__checkbox__text {
    cursor: pointer;
    color: #48459e;
    font-weight: 500;
}

/* Banner area */

.red__sub-title { 
    font-weight: 400;
    font-size: 16px;
    color: #FD511A;
}
.banner__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: #000;
}
.green__text-title {
    color: #21B573;
}
.title__wrapper {
    padding-right: 5rem;
}
.btn__get-started {
    border: 1px solid #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}
.btn__get-started:hover { 
    border: 1px solid #000;
    box-shadow: none;
}
.banner__short-p {
    padding-right: 9rem;
    padding-bottom: 1rem;
}
.box__wrapper {
    padding-top: 4rem;
    padding-bottom: 7rem;
}
.banner__area {
    background-color: #F0FFF0;
}

/* icon box */

.card__box {
    border: none;
    background-color: #F0FFF0;
    padding: 2rem 1rem 1rem 1rem;
    margin: 1rem 0;
    transition: all .3s ease-in-out;
}
.card__box:hover {
    transition: all .3s ease-in-out;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.box__icon {
    padding-bottom: 2rem;
}
.icon__box-title {
    color: #413960;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.icon__box-text {
    color: #585859;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* Course Card */

.title {
    color: #413960;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;      
    margin: 5rem 0;  
}
.course__card {
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    transition: all .3s ease;
    margin-bottom: 3rem;
}
.course__title {
    color: #413960;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.course__text {
    color: #585859;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.card__btn {
    padding-bottom: 2rem;
}
.course__btn {
    color: #fff;
    background: #21B573;
    border-radius: 33px;
    padding: 10px 30px;
}
.course__btn:hover {
    background-color: #00ac5e;
    color: #fff;
}
.course__media {
    padding-bottom: 1rem;
}
.small {
    color: #585859;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.course__card:hover {
    margin-top: -.8rem;
    transition: all .3s ease;
}
.testimonial__card {
    border: none;
}

/* footer */

.footer {
    padding-top: 5rem;
    padding-bottom: 1rem;
}
.footer__link {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
.nav-link:hover {
    text-decoration: underline;
    color: #fff;
}
.footer {
    background-color: #282531;
}
.footer__title {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}
.title2 { 
    color: #413960;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}
















