
/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    

.card__box {
        margin: 1rem 2rem;
        padding: 0;
        padding-top: 1rem;
    }


}



/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    

.title__wrapper {
    padding-right: 0;
}



.banner__short-p {
    padding-right: 0;
}


.box__wrapper {
    padding-top: 0;
}

.card-body {
    padding: 0;
}



}